<router-outlet></router-outlet>
<a [routerLink]="['/listings']">Listings</a>
<nav id="navbar-top" class="navbar navbar-expand-lg navbar-light">
    <img class="img-fluid" id="header-logo" src="assets/airbnbLogo.png" />
    <button id="reg-button" class="btn btn-outline-primary" (click)="open(regContent)">Sign Up</button>
    <button id="log-button" class="btn btn-outline-primary" (click)="open(logContent)">Log In</button>
</nav>

<ng-template #regContent let-c="close" let-d="dismiss">
    <div id="regContainer" class="container-fluid">
        <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3 mx-auto">
                <div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" #regForm="ngForm" (submit)="validateReg()" role="form" style="display: block;">
                                    <div class="form-group-row">
                                        <label for="firstName" class="col-form-label">First Name:</label>
                                        <input class="form-control" type="text" name="firstName" required minlength="2" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="Enter your first name"><br>
                                        <span *ngIf="!firstName.untouched && firstName.errors?.required">First name is required</span>
                                        <span *ngIf="!firstName.errors?.required && firstName.errors?.minlength">First name must be more than 2 characters</span>
                                    </div>
                                    <div class="form-group-row">
                                        <label for="lastName" class="col-form-label">Last Name:</label>
                                        <input class="form-control" type="text" name="lastName" required minlength="2" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Enter your last name"><br>
                                        <span *ngIf="!lastName.untouched && lastName.errors?.required">Last name is required</span>
                                        <span *ngIf="!lastName.errors?.required && lastName.errors?.minlength">Last name must be more than 2 characters</span>
                                    </div>
                                    <div class="form-group-row">
                                        <label for="email" class="col-md-3 col-form-label">Email:</label>
                                        <input class="form-control" type="email" name="email" required minlength="2" [(ngModel)]="user.email" #email="ngModel" placeholder="Enter your email"><br>
                                        <span *ngIf="!email.untouched && email.errors?.required">Email is required</span>
                                        <span *ngIf="!email.errors?.required && email.errors?.minlength">Email must be more than 2 characters</span>
                                    </div>
                                    <div class="form-group-row">
                                        <label for="password" class="col-md-3 col-form-label">Password:</label>
                                        <input class="form-control" type="password" name="password" required minlength="8" [(ngModel)]="user.password" #password="ngModel" placeholder="Enter a password"><br>
                                        <span *ngIf="!password.untouched && password.errors?.required">Password is required</span>
                                        <span *ngIf="!password.errors?.required && password.errors?.minlength">Password must be more than 8 characters</span>
                                    </div>
                                    <div class="form-group-row">
                                        <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
                                        <input class="form-control" type="password" name="confirmPassword" required [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" placeholder="Confirm password"><br>
                                        <span *ngIf="!confirmPassword.untouched && confirmPassword.errors?.required">You must confirm your password</span>
                                        <span *ngIf="!confirmPassword.errors?.required && user.password !== user.confirmPassword">Passwords must match</span>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <input class="form-control" type="submit" name="register-submit" id="register-submit" tabindex="8" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #logContent let-c="close" let-d="dismiss">
    <div id="logContainer" class="container-fluid">
        <div class="modal-header">
            <h4 class="modal-title">Log In</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3 mx-auto">
                <div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" #logForm="ngForm" (submit)="validateLogin()" role="form" style="display: block;">
                                    <div class="form-group-row">
                                        <label for="email" class="col-md-3 col-form-label">Email:</label>
                                        <input type="email" 
                                        class="form-control"
                                        required
                                        [(ngModel)]='logUser.email'
                                        #logEmail='ngModel'
                                        name="email" 
                                        placeholder="Enter your email"><br>
                                        <span *ngIf="emailError">{{ emailError }}</span>
                                    </div>
                                    <div class="form-group-row">
                                        <label for="password" class="col-md-3 col-form-label">Password:</label>
                                        <input type="password" 
                                        class="form-control"
                                        required
                                        [(ngModel)]='logUser.password'
                                        #logPassword='ngModel' 
                                        name="logPassword" 
                                        placeholder="Enter your password"><br>
                                        <span *ngIf="passError">{{ passError }}</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <input class="form-control" type="submit" name="login-submit" id="login-submit" tabindex="8" class="form-control btn btn-register" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div id="recent-listings-container" class="container-fluid">
    <div id="home-search-container" class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <form (submit)="landingSearch()">
                <div class="form-group-row">
                    <input id="search-field" type="text" class="form-control form-inline" name="home-search" placeholder="Search by listing or location">
                    <input id="home-landing-search" class="form-control form-inline" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>

    <div id="cards1">
        <h1>Listings</h1>
        <div class="card" *ngFor='let listing of recentListings' name='tolist'>
            <img class="card-img-top" src="{{listing.image}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    <a [routerLink]="['/listings', listing._id]">{{listing.title}}</a>
                </p>
            </div>
        </div>
    </div>

    <div id="cards2">
        <h1>Things to do</h1>
        <div class="card">
            <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0f/7a/d5/99/snow-fun-excursion.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://toyokeizai.net/mwimgs/2/4/1280/img_2439a8445d7b4f80a4e0b873132441743763039.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://blog.columbia.com/wp-content/uploads/2016/08/Underwater-Scuba-diver-explore-and-enjoy-Coral-reef-Sea-life.jpg"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.lafilm.edu/wp-content/uploads/2017/08/Dance-Show.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text.</p>
            </div>
        </div>
        <hr>
    </div>
    <div id="overlay">
        <footer id="footer" class="bg-light text-black mt-4">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">About Us</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Careers</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Policies</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Help</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>