#user-forms{
    width: 90%;
    display: inline-block;
    vertical-align: top;
}

#reg-form{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

#log-form{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

#user-forms h3{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.mainsection{
    display: inline-block;
    vertical-align: top;
} 
#cards1{
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
    
}
#locationmap{
    margin-top: 50px;
    margin-left:30px;
    display: inline-block;
    vertical-align: top;
    width:25%;
} 
agm-map {
    height: 750px;
    
  }