/* #locationmap{
    margin-top: 50px;
    margin-left:30px;
    display: inline-block;
    vertical-align: top;
    width:25%;
} 
agm-map {
    height: 750px;
    
  } */

/* modal CSS */
#regContainer, #logContainer{
    background-color: var(--light);
    padding: 10%;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

#register-form {
    margin: 0px;
    background-color: var(--light);
}
#login-form label, #register-form label {
    /* font-size: 80%; */
    font-weight: bold;
    font-size: 14px;
    color: var(--gray-dark);
    padding: 0%;
    margin-bottom: 0px;
}
.panel-login {
    border-color: #ccc;
     background-color: #f9f8f8;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    font-size: 34px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover, .panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color:var(--orange);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--navy);
}
.btn-login:hover, .btn-login:focus {
    color: #fff;
    background-color: var(--navy);
    border-color: var(--navy);
}
.btn-register {
    background-color: var(--navy);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--navy);
}
.btn-register:hover, .btn-register:focus {
    color: #fff;
    background-color: var(--navy);
    border-color: var(--navy);
}

.navbar-color {
    background-color:#3D9DB3;
    color: #fff;
    border-color: #2d92a9;
}

.modal-backdrop fade in { 
    display: none;
}

/* navbar CSS */
#header-logo {
    width: 80px;
    height: 60px;
    opacity: 0.9;
    /* background-color:#e9ecef; */
    margin-left: 5rem;
}

/* recent listings CSS */
#where, #guests {
    height: 49px;
}

#recent-listings-container{
    /* margin: 1rem; */
    background: var(--white);
}

#search-field {
    background: var(--white);
}

.col {
    padding: 0px;
}

.card-img-top {
    width: 318px;
    height: 212px;
}

#cards1, #cards2 {
    display: inline-block;
    width: 100%;
    height: 25%;
    padding-left: 2%;
}

.card {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 20rem;

}

#footer {
    border: none;
}

#overlay {
    text-align: center;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    margin-top: 8px;
    margin-right: 3px;
    pointer-events: none;
}
  
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
/* add padding  */
.left-addon input  { 
    padding-left:  30px; 
}

.right-addon input { 
    padding-right: 30px; 
}

body {
    margin: 10px;
  }

  /* home-search CSS */
  #home-landing-search {
      visibility: hidden;
  }

  #home-search-container {
      background: var(--white);
      padding: 0px;
      margin: 0px;
  }