* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

#header-logo {
    width: 85px;
    height: 55px;
    display: inline-block;
    vertical-align: top;
}

#top-search {
    display: inline-block;
    vertical-align: bottom;
    margin: 15px;
}

#search-submit {
    color: white;
    background-color: white;
    border: none;
}

#quick-links {
    display: inline-block;
    vertical-align: top;
    margin-left: 650px;
    margin-top: 10px;
    font-size: 14pt;
}

.container {
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px 15px 15px;
}

h2 {
    text-align: center;
    margin-left: 150px;
}

.search-results {
    width: 350px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    /* border: 1px dotted black; */
}

#search-result-image {
    width: 300px;
    height: 250px;
    margin: 8px 8px 8px 20px;
}

.search-results h4, .search-results li {
    display: inline-block;
    vertical-align: top;
    margin: 4px 4px 4px 20px;
}

#recent-result-image {
    width: 300px;
    height: 250px;
    margin: 8px 8px 8px 20px;
}

/* .search-results h4 {
    /* margin: 6px 6px 6px 10px; */
/* } */

/* .search-results li { */
    /* margin: 8px; */
/* } */