<head>
    <!-- <link rel="stylesheet" type="text/css" href="user-dash.component.css"> -->
  </head>
  
  <img src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg">
  <form id="top-search">
    <input type="text" name="search" placeholder="Search">
  </form>
  <p id="quick-links"><a>Discover hosting</a> | <a>Trips</a> | <a>Messages</a> | <a>Help</a></p>
  <!-- Dash Nav goes in here! -->
  <div class="user-dash-nav">
    <button id="nav-button-first">Inbox</button>
    <button>Your Trips</button>
    <button>Your Listings</button>
    <button>Profile</button>
    <button>Account</button>
  </div>
  
  <div id="inner-content">
    <div id="inner-nav">
      <a class="inner-link">Book Trip</a>
      <a class="inner-link">Past Trips</a>
      <a class="inner-link">Upcoming Trips</a>
      <a class="inner-link">Invite Friends</a>
    </div>
      
    <div id="main-content-user-profile">
      <h4>Required</h4>
      <form id="edit-profile-user">
        First Name: <input type="text" name="firstName" placeholder="Update your first name"><br><br>
        Last Name: <input type="text" name="lastName" placeholder="Update your last name"><br><br>
        Email: <input type="email" name="firstName" placeholder="Update your email"><br><br>
        Password: <input type="password" name="firstName" placeholder="Update your password"><br><br>
        Confirm new password: <input type="password" name="firstName" placeholder="Confirm updated password"><br><br>
        Phone number: <input type="tel" name="firstName" placeholder="Update your phone number"><br><br>
        <input type="submit" value="Save">
      </form>
    </div>
  
    <!-- <div id="main-content-add-listing">

    </div>
    <div id="main-content-add-reservation">

    </div>
    <div id="main-content-listings">

    </div>
    <div id="main-content-reservations">

    </div> -->
  </div>
  