* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

#header-logo {
    width: 85px;
    height: 55px;
    display: inline-block;
    vertical-align: top;
}

#top-search {
    display: inline-block;
    vertical-align: bottom;
    margin: 15px;
}

#search-submit {
    color: white;
    background-color: white;
    border: none;
}

#quick-links {
    display: inline-block;
    vertical-align: top;
    margin-left: 650px;
    margin-top: 10px;
    font-size: 14pt;
}

.user-dash-nav {
    /* width: 970px;
    height: 50px; */
    background: #515151;
    background: -webkit-linear-gradient(#515151, #2B2B2B);
    background: -o-linear-gradient(#515151, #2B2B2B); 
    background: -moz-linear-gradient(#515151, #2B2B2B); 
    background: linear-gradient(#515151, #2B2B2B); 
}

.user-dash-nav button {
    background: #515151;
    background: -webkit-linear-gradient(#515151, #2B2B2B);
    background: -o-linear-gradient(#515151, #2B2B2B); 
    background: -moz-linear-gradient(#515151, #2B2B2B); 
    background: linear-gradient(#515151, #2B2B2B);
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 14pt;
    color: lightgrey;
    width: 120px; 
    height: 30px;
    padding: 2px;
    margin-left: 40px;
    border: none;
}

#nav-button-first{
    margin-left: 190px;
}

#inner-nav {
    display: inline-block;
    vertical-align: top;
}

.inner-link {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 13pt;
    margin: 15px 5px 5px 230px;
}

.form-edit {
    display: inline-block;
    width: 700px;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 15pt;
    margin: 2px 5px 5px 155px;
    /* border: 1px dashed darkgrey; */
}

.form-edit form, .form-edit table {
    /* border: 1px dashed darkgrey; */
    margin: 5px 5px 5px 5px;
    padding: 15px;
    width: 700px;
}