<head>
  <!-- <link rel="stylesheet" type="text/css" href="guest-dash-inner-nav.component.css"> -->
</head>

<img src="c:\Users\chyat\Desktop\airbnbMEAN\frontEnd\src\airbnbLogo.png">
<form id="top-search">
  <input type="text" name="search" placeholder="Search">
</form>
<p id="quick-links"><a>Discover hosting</a> | <a>Trips</a> | <a>Messages</a> | <a>Help</a></p>
<!-- Dash Nav goes in here! -->
<div class="host-dash-nav">
  <button id="nav-button-first">Inbox</button>
  <button>Your Trips</button>
  <button>Your Listings</button>
  <button>Profile</button>
  <button>Account</button>
</div>

<a class="inner-link">Book Trip</a>
<a class="inner-link">Past Trips</a>
<a class="inner-link">Upcoming Trips</a>
<a class="inner-link">Invite Friends</a>
